{{ define "title" }}Epics - {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $ticketsData := .Site.Data.tickets }}

<h1>All Epics</h1>
<div class="epics-list">
{{ range $ticketsData.epics.epics }}
    {{ $epic := . }}
    {{ $prefix := .prefix }}
    {{ $total := len .children }}
    {{ $done := 0 }}
    
    {{ $categoryData := index $ticketsData $prefix }}
    
    {{ range .children }}
        {{ $ticketId := . }}
        {{ $ticket := index $categoryData $ticketId }}
        {{ if $ticket }}
            {{ if eq $ticket.status "DONE" }}
                {{ $done = add $done 1 }}
            {{ end }}
        {{ end }}
    {{ end }}
    
    {{ $percent := 0 }}
    {{ if gt $total 0 }}
        {{ $percent = div (mul $done 100) $total }}
    {{ end }}
    
    {{ partial "epic-card.html" (dict "epic" $epic "done" $done "total" $total "percent" $percent) }}
{{ end }}
</div>
{{ end }}
